        <div class="container main login" style="width: 100%; height:auto">
                <p><b>Error : </b> <%= error%></p>

                <button type="button" class="btn btn-primary btn-error" onclick="window.location='<%= redirectURL %>'">Cancel</button>
        </div>
