   <div class="container main login" style="width: 100%; height:auto">
      <!-- Verify SMS Pin Page template -->
     
              <form role="form" action="/openid/pinSubmit?sessionid=<%= sessionid%>" method="POST">
                <div class="input-group-container">
                  <p>
                    <strong>Verify your mobile number</strong>
                  </p>
                  	<div style="display: <%= showErrorMessage%>;"><font color="red">Invalid PIN. Please enter the correct PIN</font></div>
                  <div class="input-group input-group-lg">
                      <span class="input-group-addon"><span class="glyphicon glyphicon glyphicon-lock"></span></span>
                      <input name="pin" class="form-control" placeholder="One time password" type="password" >
                  </div>
                  <span class="help-block">
                    Please enter the
                    <strong>One Time Password</strong>sent to your registered mobile number.
                  </span>
                </div>
                <div class="input-group-container">
                  <button type="submit" class="btn btn-success btn-group-lg btn-block">Verify PIN</button>
               
                  <button type="button" class="btn btn-success btn-group-lg btn-block" onclick="window.location='<%= redirectURL%>'">Cancel</button>
                </div>
              
          </form>
    </div>