
  <div class="container">
    <!-- Registration Page Template -->
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="grass-form-wrapper">
          <h4 class="register-form-title">Fill in your details and Register</h4>
       
          <div style="display: <%= showErrorMessage%>;"><font color="red"><%= error%></font></div>
          <form name="registration-form" role="form" action="/openid/create?sessionid=<%= sessionid%>" method="post">
            <div class="form-group">
              <input name="name" class="form-control" placeholder="First Name" type="text">
            </div>
            <div class="form-group">
              <input name="lastName" class="form-control" placeholder="Last Name" type="text">
            </div>
            <div class="form-group">
              <input name="username" class="form-control" placeholder="Email Id" type="email">
            </div>
            <div class="form-group">
              <input name="msisdn" class="form-control" placeholder="Phone Number" type="tel">
            </div>
            <div class="form-group">
              <input name="password" class="form-control" placeholder="Password" type="password">
            </div>
            <div class="form-group">
              <input name="confirmPass" class="form-control" placeholder="Confirm password" type="password">
            </div>
            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <button type="submit" class="btn btn-primary grass-btn">Register</button>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <button type="button" class="btn btn-primary btn-error" type="button" onclick="window.location='/openid/index?sessionid=<%= sessionid%>'" >Cancel</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>