/*@media (min-width: 767px) {
  .home-img {
    margin-top: 25px;
  }
  .close-img {
    margin-top: 25px;
  }
  .lang-select {
    margin-top: 35px;
  }
}

@media (max-width: 767px) {
  .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}*/