   <div class="container">
      <!-- Verify SMS Pin Page template -->
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <div class="verify-pin-wrapper">
            <div class="grass-form-wrapper">
              <form role="form" action="/openid/pinSubmit?sessionid=<%= sessionid%>" method="POST">
                <div class="form-group">
                  <p>
                    <strong>Verify your mobile number</strong>
                  </p>
                  	<div style="display: <%= showErrorMessage%>;"><font color="red">Invalid PIN. Please enter the correct PIN</font></div>
                  <input name="pin" class="form-control" placeholder="One time password" type="password" >
                  <span class="help-block">
                    Please enter the
                    <strong>One Time Password</strong>sent to your registered mobile number.
                  </span>
                </div>
                <div class="col-xs-6">
                <div class="form-group">
                  <button type="submit" class="btn btn-primary grass-btn">Verify PIN</button>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <button type="button" class="btn btn-primary btn-error" onclick="window.location='<%= redirectURL%>'">Cancel</button>
                </div>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>