<% layout('layout') -%> 

<div class="container">
    <!-- Consent Page Template -->
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="consent-page-wrapper">
          <div class="consent-page">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2>Access authorization</h2>
              </div>
              <div class="panel-body">
                <div class="consent-content">
                  <p>Application
                    <strong><%= appName%></strong> is requesting your permission to share the following details</p>
           
                  
         <% var scopes= scope.split(" ") %>
         <% for(var i=0; i<scopes.length ; i++) { %>
         <%if (scopes[i] !="openid") {%>   
         
        <li class="list-group-item"> <%= scopes[i] %>
        </li>
         <%}%>
    <% } %>
                  <p>Please press
                    <strong>Allow</strong>to authenticate else press
                    <strong>Cancel</strong>
                  </p>
                  <div class="consent-button">
                    <form action="/openid/redirect/<%= sessionid%>" role="form">
               <div class="col-xs-6">
                <div class="form-group">
                      <button type="submit" class="btn btn-primary grass-btn">Allow</button>
                </div>
              </div>
               <div class="col-xs-6">
                <div class="form-group">
                      <button type="button" class="btn btn-primary btn-error" onclick="window.location='<%= redirectURL%>'">Cancel</button>
                </div>
              </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>