
      <form class="form-signin" action="/openid/create?sessionid=<%= sessionid%>" method="post">
        <h2 class="form-signin-heading">Register</h2>
        <input name="name" type="text" class="input-block-level" placeholder="Your name">
        <input name="username" type="text" class="input-block-level" placeholder="Your  username">
        <input name="email" type="text" class="input-block-level" placeholder="Your email">
        <input name="msisdn" type="text" class="input-block-level" placeholder="mobile no">
        <input name="password" type="password" class="input-block-level" placeholder="password">
        <input name="re-password" type="password" class="input-block-level" placeholder="re-enter password">

        <button class="btn btn-large btn-primary" type="submit">Submit</button>
      </form>
    