<div class="row">
	<div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading"><h3>My Profile</h3></div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">
            <span class="label label-default">Username:</span>
            <span>usersusername</span>
          </li>
          <li class="list-group-item">
            <span class="label label-default">First Name:</span>
            <span>User's First Name</span>
          </li>
          <li class="list-group-item">
            <span class="label label-default">Last Name:</span>
            <span>Users Last Name</span>
          </li>
          <li class="list-group-item">
            <span class="label label-default">Email:</span>
            <span>usersemail@domain.com</span>
          </li>
          <li class="list-group-item">
            <span class="label label-default">Phone No:</span>
            <span>78785767676</span>
          </li>
          <li class="list-group-item">
            <span class="label label-default">Address:</span>
            <address>
              <strong>Street1: </strong><span>Some Street 1</span><br>
              <strong>Street2: </strong><span>Some Street 2</span><br>
              <strong>City: </strong><span>Some Country</span><br>
              <strong>State: </strong><span>Some State</span><br>
              <strong>Country: </strong><span>Some Country</span><br>
            </address>
          </li>
        </ul>
      </div>
    </div>
	</div>
</div>