      <form class="form-signin" action="<%= redirectURL %>">
        <h2 class="form-signin-heading"><%= header%></h2>
        <p><b>Error : </b> <%= error%></p> 
        <p><b>Description : </b> <%= description%></p> 
         
         <%if (redirectURL.split()[0] != null) { %>
         <button class="btn btn-medium btn-error" type="submit">Exit</button>
        <% } %>
        
    
      </form>


<form >
</form>
