<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Speed Rally</title>
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" href="/identity_app/stylesheets/clientapp.min.css" />
<link rel="stylesheet" href="/identity_app/stylesheets/custom.css" />
<link rel="stylesheet"
	href="http://code.jquery.com/mobile/1.3.1/jquery.mobile.structure-1.3.1.min.css" />
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script
	src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
</head>
<body class="ui-mobile-viewport">
	<!-- Homke -->
	<div data-role="page" id="page1" data-theme="a" data-ajax="false">
		<div class="box">
		<div ><img id="logo-image"
	src="/identity_app/images/logo.jpg" style="width:40%; height:15%;float:right;padding-top: 10px;">		</div>	
		
<!-- 			<div data-theme="a" data-role="header"> -->
<!-- 				<h3> -->
<!-- 					<a href="/AppForAthorizeAccess" data-ajax="false">Evernote</a> -->
<!-- 				</h3> -->
<!-- 			</div> -->
			<div data-role="content" data-dom-cache="false" id="indexDiv"
				data-ajax="false" style=" margin-top: 110px; margin-left: 80px; ">
				<h3>Error: Something went wrong</h3>
				<center>
					<img style="width: 100%; height: 50%; float: center;margin-left: -70;"
						src="/identity_app/images/error.jpg" alt="image">
				</center>
			</div>
		</div>
	</div>
</body>
</html>